.inputcontainer {
    text-align: center;
    display: flex-box;
    width: 100%;
    height: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: #F7E8A4;
}

.h1 {
    text-align: center;
}

.label {
    display: inline-block;
    text-align:start;
    position:relative;
    padding: 4px 4px;
    margin: 4px 0;
    border: 2px solid #F7E8A4;
    border-radius: 25px;
}

.text {
    padding: 12px 20px;
    margin: 12px 0;
}

.input {
    border-radius: 5px;
    margin: 2px 0;
    display: inline-block;
    text-align: right;
}

.button_newB {
    border-radius: 5px;
    padding: 4px 4px;
    margin: 2px 0;
}