/*code template reference: https://www.youtube.com/watch?v=i8fAO_zyFAM&t=697s*/

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner {
  position: relative;
  padding: 20px;
  background: color;
  justify-content: center;
}

.popup-info {
  font-style: helvetica;
  font-size: x-large;
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 40px;
}

.popup-inner .close-button {
  position: absolute;
  border-radius: 5px;
  top: 16px;
  right: 16px;
}
