.container {
  display: flex;
  flex-direction: row;
}

.table {
  border: solid 10px color;
  width: 80%;
}

.th {
  text-align: left;
  background-color: color;
  border: 1rem;
}

.th2 {
  border-bottom: solid 5px black;
  color: black;
  font-weight: 800;
  text-align: center;
}

.tablerow {
  background-color: white;
}

.tablecell {
  border: solid grey 1px;
  padding: 5px;
  text-align: center;
}

.globalfilter {
  width: 500px;
}
