.container {
  display: flex;
  flex-direction: row;
}

.table {
  /* border: solid 10px color; -- this was giving a problem for internet explorer*/
  width: 100%;
  padding: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.th {
  text-align: left;
  border: 1rem;
  padding: 20px;
}

.th2 {
  border-bottom: solid 5px black;
  color: black;
  font-weight: 800;
  text-align: center;
}

.tablecell {
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.globalfilter {
  width: 500px;
}
