.inputcontainer {
  display: grid;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  background: #f7e8a4;
  grid-template-columns: [first] 50% [line2] 50% [line3];
  grid-template-rows: [row1-start] 100px[row1-end] 30px[third-line] 200px[fourth-line] 100px [fifth-line] 70px [last-line];
  grid-template-areas:
    "header header"
    "row2col2 row2col1"
    "driverInfo driverInfo2"
    "pickup return"
    "carGroupSelect carGroupSelect"
    "footer2 footer";
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header {
  justify-self: center;
  grid-area: header;
}

.pickUpContainer {
  grid-area: pickup;
}

.returnContainer {
  grid-area: return;
}

.driverContainer {
  grid-area: driverInfo;
}

.driverContainer2 {
  grid-area: driverInfo2;
}

.driversLabel {
  display: block;
  text-align: start;
  width: 200px;
}

.carGroupSelect {
  grid-area: carGroupSelect;
}

h4 {
  margin-bottom: 20px;
}
/*
.label {
  text-align: start;
  position: relative;
  padding: 4px 4px;
  margin: 4px 0;
  border: 2px solid #f7e8a4;
  border-radius: 25px;
}

.text {
  padding: 12px 20px;
  margin: 12px 0;
}

/*.input:required {
  border-radius: 5px;
  margin: 2px 0;
  display: inline-block;
  text-align: left;
  width: 200px;
}*/

.button_addCustomer {
  border-radius: 5px;
  padding: 4px 4px;
  margin: 2px 0;
  width: 200px;
  background-color: #f7e8a4;
  grid-area: row2col1;
}

.newCustomerButton {
  border-radius: 5px;
  padding: 4px 4px;
  margin: 2px 0;
  width: 200px;
  background-color: #f7e8a4;
  grid-area: row2col2;
}

.confirmButton {
  /*grid-row-start: row4-end;
  grid-row-end: last-line;
  grid-column-start: first;
  grid-column-end: line2;*/
  border-radius: 5px;
  padding: 4px 4px;
  margin: 2px 0;
  width: 200px;
  background-color: #f7e8a4;
  grid-area: footer;
}

.cancelButton {
  /* grid-row-start: row4-end;
  grid-row-end: last-line;
  grid-column-start: line2;
  grid-column-end: end; */
  border-radius: 5px;
  padding: 4px 4px;
  margin: 2px 0;
  width: 200px;
  background-color: #f7e8a4;
  grid-area: footer2;
}
