.footerdiv {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5%;
  background-color: rgb(160, 158, 158); /* defualt, should be overwritten by theme color */
  color: white;
  text-align: center;
}
